body {
  background: #000000;
  color: #6c6c6c;
  margin: 0;
  padding: 0;
}

.demo-1 {
  font-family: 'freightdispcmp-pro', serif;
}

.demo-2 {
  font-family: 'widescreen-uex', sans-serif;
  font-size: 12px;
}

.demo-2 .frame {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.animate-loader {
  animation: loader 1.5s ease-in-out infinite alternate forwards;
}

/* Added Codrops-style loader animation */
@keyframes loader {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }

  50% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }

  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}
