.section {
  width: 100%;
  padding: var(--section-spacing) 0;
  position: relative;
  overflow: hidden;
}

.background-white {
  background-color: var(--primary-white);
}

.background-grey {
  background-color: var(--secondary-grey);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 24px;
}
